div.gantt {
    font-size: 12px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
}

.glineitem a {
    color: #0000ff;
    text-decoration: none;
}

.gantt table {
    border-collapse: collapse;
}

.gantt td {
    padding: 0px;
}

.gminorheading,
.gminorheadingwkend,
.gtaskcell,
.gtaskcellwkend {
    height: 21px;
    font-size: 12px;
    color: #999999;
    border: 1px solid #e0e0e0;
    text-align: center;
}

.gmajorheading {
    height: 21px;
    font-size: 12px;
    color: #999999;
    border: 1px solid #e0e0e0;
    text-align: center;
}

.gtasklist {
    height: 20px;
    min-width: 5px;
    max-width: 5px;
    width: 5px;
    border: #efefef 1px solid;
    border-right: none;
}

.gtaskheading,
.gmajorheading,
.gminorheading {
    background-color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

.gtaskheading div,
.gmajorheading div,
.gminorheading div {
    text-align: center;
    white-space: nowrap;
}

.gtaskcellwkend,
.gminorheadingwkend {
    background-color: #f0f0f0;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
}

td.gtaskcell {
    text-align: left;
}

td.gspanning {
    border-left: none;
    border-right: none;
}

.gtaskcelldiv {
    position: relative;
}

.gtaskheading,
.gname {
    height: 20px;
    white-space: nowrap;
    border: #efefef 1px solid;
}

.gtaskheading,
.gtaskheading div {
    text-align: center;
}

.gtaskname {
    height: 20px;
    border: #efefef 1px solid;
    min-width: 250px;
    width: 250px;
}

.gtaskname div {
    white-space: nowrap;
    cursor: pointer;
    text-align: left;
    font-size: 12px;
}

.gresource,
.gduration,
.gstartdate,
.gplanstartdate,
.gplanenddate,
.gcost,
.gpccomplete,
.genddate {
    height: 20px;
    white-space: nowrap;
    border: #efefef 1px solid;
    min-width: 120px;
    width: 120px;
    max-width: 120px;
}

.gresource div,
.gduration div,
.gpccomplete div,
.gstartdate div,
.gplanstartdate div,
.gplanenddate div,
.gcost div,
.gpccomplete div,
.genddate div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}

.gformlabel {
    position: relative;
    top: 0px;
    cursor: pointer;
    margin-left: 5px;
    padding: 3px 6px 3px 6px;
}

span.gformlabel:hover,
span.gselected {
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
}

.gselector {
    text-align: left;
    white-space: nowrap;
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    font-weight: bold;
    color: #000000;
}

.gselector-row {
    background-color: #f8f8f8;
    height: 20px;
}

.gtaskbarcontainer.gplan {
    position: absolute !important;
    top: 0px;
    opacity: 0.36;
    background: white;
    z-index: 4;
    border: 1px solid black;
    pointer-events: none;
}

span.gfoldercollapse {
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    width: 12px;
    text-align: center;
}

.gtasktableh,
.gtasktable {
    border-right: #efefef 1px solid;
}

.gcharttableh,
.gtasktableh,
.gtasktable,
.gcharttable {
    border-collapse: collapse;
}

.gcharttable {
    border: #efefef 1px solid;
}

.ggroupitem {
    background-color: #f8f8f8;
    font-weight: bold;
}

.gmileitem,
.glineitem {
    background-color: #ffffff;
}

.gitemhighlight td {
    background-image: none;
    background-color: #fffde5;
}

.gmilecaption,
.ggroupcaption,
.gcaption {
    color: #000000;
    font-size: 10px;
    text-align: left;
    white-space: nowrap;
    position: absolute;
    top: 2px;
}

.ggroupcaption,
.gcaption {
    right: -130px;
}

.gtaskcomplete {
    float: left;
    overflow: hidden;
}

.gtaskcomplete {
    height: 5px;
    background-color: #000000;
    margin-top: 2px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.gmilestone {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    position: absolute;
    top: -2px;
}

.gmdtop {
    top: 2px;
    overflow: hidden;
    width: 0px;
    height: 0px;
    border-bottom: 5px solid black;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
}

.gmdbottom {
    top: 2px;
    overflow: hidden;
    width: 0px;
    height: 0px;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
}

.ggroupblack,
.gtaskblue,
.gtaskred,
.gtaskgreen,
.gtaskyellow,
.gtaskpurple,
.gtaskpink {
    height: 10px;
    filter: alpha(opacity=90);
    opacity: 0.9;
    margin-top: 0px;
}

.ggroupblack {
    height: 8px;
    background: #000000;
    margin-top: 0px;
}

.ggroupblackendpointleft {
    overflow: hidden;
    width: 0px;
    height: 0px;
    top: 2px;
    border-top: 4px solid black;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    float: left;
}

.ggroupblackendpointright {
    overflow: hidden;
    width: 0px;
    height: 0px;
    top: 2px;
    border-top: 4px solid black;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    float: right;
}

.ggroupblackcomplete {
    float: left;
    overflow: hidden;
    height: 2px;
    filter: alpha(opacity=80);
    opacity: 0.8;
    background-color: #999999;
    margin-top: 2px;
    margin-bottom: 2px;
}

.gtaskblue {
    background-color: rgb(34, 162, 248);
    border: 1px solid rgb(3, 132, 218);
}

.gtaskred {
    background-color: rgb(255, 29, 29);
    border: 1px solid rgb(196, 0, 0);
}

.gtaskgreen {
    background-color: rgb(11, 197, 11);
    border: 1px solid rgb(2, 143, 14);
}

.gtaskyellow {
    background-color: rgb(255, 182, 23);
    border: 1px solid rgb(253, 143, 0);
}

.gtaskpurple {
    background-color: rgb(200, 35, 250);
    border: 1px solid rgb(164, 1, 170);
}

.gtaskpink {
    background-color: rgb(255, 47, 186);
    border: 1px solid rgb(185, 0, 185);
}

.gtaskbluecomplete,
.gtaskredcomplete,
.gtaskgreencomplete,
.gtaskyellowcomplete,
.gtaskpurplecomplete,
.gtaskpinkcomplete {
    float: left;
    overflow: hidden;
    height: 4px;
    filter: alpha(opacity=40);
    opacity: 0.4;
    background-color: #000000;
    margin-top: 3px;
}

.glinev {
    border-left: 1px solid;
    width: 0px;
}

.glineh {
    border-top: 1px solid;
    height: 0px;
}

.gDepFS,
.gDepSS,
.gDepSF,
.gDepFF {
    border-color: #ff0000;
}

.gDepFSArw,
.gDepSSArw {
    overflow: hidden;
    width: 0px;
    height: 0px;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #ff0000;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
}

.gDepFFArw,
.gDepSFArw {
    overflow: hidden;
    width: 0px;
    height: 0px;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid #ff0000;
}

.gCurDate {
    border-color: #0000ff;
}

div.gtaskbarcontainer {
    z-index: 3;
    position: absolute;
    top: 0px;
}

.JSGanttToolTip {
    position: absolute;
    display: block;
    z-index: 5;
}

.JSGanttToolTipcont {
    font-size: 12px;
    display: block;
    background: #363636;
    color: #ffffff;
}

.gTaskInfo {
    background: #333333;
    width: 360px;
    max-width: 80%;
    border: 1px solid #ffffff;
    opacity: 0.96;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    padding: 10px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.gTtTitle {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 5px;
    margin-bottom: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.gTtTitle a {
    color: #ffffff;
    text-decoration: underline;
}

.gTaskLabel {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 5px;
    margin-bottom: 0.5em;
}

.gTaskText {
    position: absolute;
    left: 150px;
    padding-top: 1px;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 0.5em;
}

.gTaskNotes {
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    padding: 5px 15px 15px 15px;
    display: block;
    margin-bottom: 0.5em;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.gTIn {
    padding-top: 10px;
}

.gchartcontainer {
    line-height: 1;
}

.gcontainercol {
    position: relative;
}

.glistgrid {
    min-width: 132px;
    float: left;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #ffffff;
    overflow: hidden;
}

.glistlbl {
    min-width: 132px;
    float: left;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #ffffff;
    overflow: hidden;
}

.glabelfooter {
    clear: both;
}

.ggridfooter {
    clear: both;
}

.rhscrpad {
    width: 1px;
    position: absolute;
    top: 0px;
    height: 1px;
}

.gchartgrid {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #ffffff;
    position: relative;
    overflow: unset;
    min-height: 0%;
}

.gchartlbl {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #ffffff;
    position: relative;
    overflow: unset;
}

.gantt {
    _height: 100%;
}

div .gantt {
    /* _width: 1064px; ie6 fixed width */
}

div.gchartlbl,
div.gchartgrid {
    /* _width: 532px; */
}


/* ie6 fixed width */

div.glistlbl,
div.glistgrid {
    *right: 0px;
    /* ie7 pulls the content too far left with the negative margin */
    _right: 532px;
    /* but ie6 fixed width needs this */
    _margin-left: -532px;
    /* ie6 fixed width */
    float: left;
}

div.gchartgrid {
    *padding-bottom: 20px;
    *overflow-y: hidden;
}


/* variable height design, no need for vertical scroll */

td.gmajorheading div {
    *overflow: hidden;
}


/* stops resizing fixed width columns if the text is too wide */

td.gspanning div {
    *overflow: hidden;
}


/* stops resizing fixed width columns if the text is too wide */


/* border transparency tricks */

.ggroupblackendpointleft {
    _border-top: 4px solid black;
    _border-left: 4px solid pink;
    _border-bottom: 4px solid pink;
    _border-right: 4px solid pink;
    _filter: chroma(color=pink);
}

.ggroupblackendpointright {
    _border-top: 4px solid black;
    _border-left: 4px solid pink;
    _border-bottom: 4px solid pink;
    _border-right: 4px solid pink;
    _filter: chroma(color=pink);
}

.gmdtop {
    _border-left: 5px solid pink;
    _border-top: 5px solid pink;
    _border-right: 5px solid pink;
    _filter: chroma(color=pink);
}

.gmdbottom {
    _border-left: 5px solid pink;
    _border-bottom: 5px solid pink;
    _border-right: 5px solid pink;
    _filter: chroma(color=pink);
}

.gDepFSArw,
.gDepSSArw {
    _border-bottom: 4px solid pink;
    _border-top: 4px solid pink;
    _border-right: 4px solid pink;
    _filter: chroma(color=pink);
}

.gDepFFArw,
.gDepSFArw {
    _border-bottom: 4px solid pink;
    _border-left: 4px solid pink;
    _border-top: 4px solid pink;
    _filter: chroma(color=pink);
}

.glinediv {
    position: absolute;
    top: 0px;
    left: 0px;
}

.gantt-inputtable {
    width: 80%;
    font-size: 12px;
    max-height: 14px;
}

.gadditional {
    border: #efefef 1px solid;
}

.gadditional,
.gresource,
.gduration,
.gpccomplete,
.gcost {
    text-align: center;
    width: 100px;
    max-width: 100px;
    overflow: hidden;
    font-size: 12px;
}

.gmain {
    width: 50%;
    display: inline-block;
    height: 100%;
}

.gmainright {
    overflow-x: scroll;
    overflow-y: none;
    top: 0;
    width: 60%;
    vertical-align: top;
}

.gmainleft {
    overflow-x: scroll;
    overflow-y: none;
    width: 40%;
    vertical-align: top;
}

.gtasktableh tr,
.gcharttable tr,
.gtasktable tr {
    height: 22px !important;
}

.gtasktable {
    margin-bottom: 14px;
}

.gmainleft table td {
    padding-left: 10px;
    padding-right: 10px;
}


/* webkit browser scroll bars styel */

.frame::-webkit-scrollbar,
.gmainleft::-webkit-scrollbar,
.gmainright::-webkit-scrollbar,
.gantt-scroll-controll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
}

.frame::-webkit-scrollbar-thumb,
.gmainleft::-webkit-scrollbar-thumb,
.gmainright::-webkit-scrollbar-thumb,
.gantt-scroll-controll::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #e0e0e0;
    border: 1px solid #c0c0c0;
}

.frame::-webkit-scrollbar-track,
.gmainleft::-webkit-scrollbar-track,
.gmainright::-webkit-scrollbar-track {
    border-radius: 0px;
    background: #ffffff;
    border: 1px solid #c0c0c0;
}

.gantt-scroll-controll::-webkit-scrollbar-track {
    border-radius: 0px;
    background: #ffffff;
    border: 1px solid #c0c0c0;
}

.frame::-webkit-scrollbar-corner,
.gmainleft::-webkit-scrollbar-corner,
.gmainright::-webkit-scrollbar-corner,
.gantt-scroll-controll::-webkit-scrollbar-corner {
    border-radius: 0px;
    background: #ffffff;
}
